---
---
<div class="disclosure-bar">
  Independent reviews — affiliate links at no extra cost to you.&nbsp;
  <a href="/affiliate-disclosure/">Full disclosure</a>&nbsp;·&nbsp;
  <a href="/how-we-review/">How we review</a>
</div>
