---
---
<nav class="site-nav">
  <div class="nav-inner">
    <a href="/" class="nav-logo">
      Stack <span class="and">and</span> Sleep
    </a>
    <ul class="nav-links">
      <li><a href="/articles/best-sleep-trackers-2026/">Sleep Trackers</a></li>
      <li><a href="/articles/what-is-sleep-optimisation/">Biohacking</a></li>
      <li><a href="/articles/best-magnesium-for-sleep/">Guides</a></li>
      <li><a href="/about/">About</a></li>
    </ul>
    <a href="/articles/best-sleep-trackers-2026/" class="nav-cta">Browse all →</a>
  </div>
</nav>
